@charset "utf-8";
body{
    font-size: 14px;
}
*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: #333;
}
ul,ol,dl{
    list-style: none;
}
#wrap{
    width: 100vw;
    display: flex;
}
#aside{
    width: 200px;
    height: calc(100vh - 120px);
}
#aside h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-bottom: solid 1px #000;
}
#aside h1 a{
    display: block;
}
#aside h1 a img{
    display: block;
}
#aside .depth-01{
    padding: 20px;
}
#aside .depth-01 > li{}
#aside .depth-01 > li > a{
    display: block;
    line-height: 40px;
    background-color: #ff3c00;
    color: #fff;
    text-indent: 10px;
    transition: all 0.2s ease-in-out;
}
#aside .depth-02{
    height: 0;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
}
#aside .depth-02 li{}
#aside .depth-02 li a{
    display: block;
    line-height: 30px;
    text-align: center;
    background-color: #d9d9d9;
    transition: all 0.2s ease-in-out;
}
#spot-menu{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 12px;
}

#aside .depth-01 li:hover .depth-02{
    height: 120px;
}
#aside .depth-01 > li:hover > a{
    background-color: #ff693e;
}
#aside .depth-02 li:hover a{
    background-color: #fff;
    color: #333;
}

/* //////콘텐츠////// */
main{
    display: flex;
    width: calc(100vw - 200px);
}
main #left-contents{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #d9d9d9;
}
#middle-banner{
    border-bottom: solid 1px #000;
}
#middle-banner a{
    display: block;
}
#middle-banner a img{
    display: block;
}

#notice{}
#notice .notice-box{
    padding: 20px; 
    border-bottom: solid 1px #000;
}
#notice .notice-box p{
    padding: 5px 10px;
    background-color: #ff3c00;
    color: #fff;
    width: 20%;
    text-align: center;
}
#notice .notice-box .ab-box{
    margin-bottom: 30px;
}
#notice .notice-box .ab-box dl{
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
}
#notice .notice-box .ab-box dl dt{}
#notice .notice-box .ab-box dl dd{}

#gallery{}
#gallery .gallery-box{
    padding: 20px;
}
#gallery .gallery-box > p{
    padding: 5px 10px;
    background-color: #ff3c00;
    color: #fff;
    width: 20%;
    text-align: center;
}
#gallery .gallery-box ul{
    display: flex;
    justify-content:space-between;
    background-color: #ff3c00;
    /* gap: 10px; 갭을 주면 왜 박스가 늘어나는가? 박스 사이징을 줘도 안됨*/
}
#gallery .gallery-box ul li{
    width: 50%;
}
#gallery .gallery-box ul li a{
    display: block;
}
#gallery .gallery-box ul li a p{
    text-align: center;
    padding: 5px 0;
    color: #fff;
}
#gallery .gallery-box ul li img{
    display: block;
    margin: 0 auto;
    width: 90%;
    margin-top: 10px;
}

#direct ul{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#main-banner{
    width: calc(100vw - 600px);
}
#main-banner div{
    width: 100%;
    height: 100%;
    background: url('../images/mainbanner.jpg') no-repeat center / cover;
}
#main-banner div a{
    display: block;

} 

/*/////////// 푸터///////////  */

#footer{
    height: 120px;
}
#footer > ul{
    display: flex;
}
.footer-logo{
    width: 200px;
}
.footer-logo a{
    display: block;
}
.footer-logoa img{
    display: block;
}

.footer-right{}
.footer-right ul{}

.footer-menu-list{}
.footer-menu-list ul{}
.footer-menu-list ul li{}

/* /////팝업창//// */
#popup-box{
    display: none;
    width: 100vw;
    height: 100vh;
}
#popup-box div{
    background-color: #fff;
    width: 50vw;
    height: 50vh;
    position: fixed;
    top: calc(50vh - 30vh);
    left: calc(50vw - 25vw);
    padding: 50px;
    font-size: 20px;
}
#popup-box h3{
    margin-bottom: 30px;
}
#popup-box h3 p{
    /* margin-top: 100px; */
}
.close-btn{
    background-color: #ff3c00;
    color: #fff;
    border: 0;
    width: 80px;
    height: 40px;
    font-size: 16px;
    box-shadow: 2px 2px 8px #d9d9d9;
    cursor: pointer;
    position: absolute;
    bottom: 5%;
    right: 5%;
}
.show{
    display: block !important;
}