body{
    font-size: 14px;
}
*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: #333;
}
ul,ol,dl{
    list-style: none;
}
#wrap{
    width: 100%;
    display: flex;
}
#aside{
    width: 200px;
}
#aside h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-bottom: solid 1px #000;
}
#aside h1 a{
    display: block;
}
#aside h1 a img{
    display: block;
}
#aside .depth-01{
    padding: 20px;
}
#aside .depth-01 > li{}
#aside .depth-01 > li > a{
    display: block;
    line-height: 40px;
    background-color: #ff3c00;
    color: #fff;
    text-indent: 10px;
    transition: all 0.2s ease-in-out;
}
#aside .depth-02{
    height: 0;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
}
#aside .depth-02 li{}
#aside .depth-02 li a{
    display: block;
    line-height: 30px;
    text-align: center;
    background-color: #d9d9d9;
    transition: all 0.2s ease-in-out;
}
#spot-menu{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 12px;
}

#aside .depth-01 li:hover .depth-02{
    height: 120px;
}
#aside .depth-01 > li:hover > a{
    background-color: #ff693e;
}
#aside .depth-02 li:hover a{
    background-color: #fff;
    color: #333;
}

/* //////콘텐츠////// */
#middle-banner{
    border-bottom: solid 1px #000;
}
#middle-banner a{
    display: block;
}
#middle-banner a img{
    display: block;
}

#notice{}
#notice .notice-box{
    padding: 20px; 
    background-color: #d9d9d9;
    border-bottom: solid 1px #000;
}
#notice .notice-box p{
    padding: 5px 10px;
    background-color: #ff3c00;
    color: #fff;
    width: 20%;
    text-align: center;
}
#notice .notice-box .ab-box{}
#notice .notice-box .ab-box dl{
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
}
#notice .notice-box .ab-box dl dt{}
#notice .notice-box .ab-box dl dd{}

#gallery{}
#gallery .gallery-box{
    padding: 20px;
    background-color: #d9d9d9;
}
#gallery .gallery-box ul{
    display: flex;
    justify-content: center;
    /* gap: 10px; */
}
#gallery .gallery-box ul li{
    width: 45%;
}
#gallery .gallery-box ul li a{
    display: block;
}
#gallery .gallery-box ul li a p{
    text-align: center;
    padding: 5px 0;
}
#gallery .gallery-box ul li img{
    display: block;
    margin: 0 auto;
    width: 90%;
}

#direct ul{
    display: flex;
    justify-content: space-between;
    background-color: #d9d9d9;
    padding: 20px;
}
#direct ul li a{
}
#direct ul li a{}
#direct ul li a button{
}